openapi: 3.0.3
info:
  title: pte-live-api-im
  version: 1.0.0
  description: IM 连接层 HTTP API。WebSocket 连接地址为 wss://im.ptelive.com/ws；除注册接口外，HTTP API 使用 AccessToken 鉴权。
servers:
  - url: https://im.ptelive.com
  - url: http://127.0.0.1:11511
paths:
  /ping:
    get:
      summary: IM 服务健康检查
      responses:
        '200': { description: pong }
  /ws:
    get:
      summary: 客户端 WebSocket 连接
      description: 使用 sdk_app_id、identifier、user_sig 建立连接；此端点不是 REST 请求。
      responses:
        '101': { description: Switching Protocols }
  /api/register:
    post:
      summary: 注册 IM 应用或连接端信息
      responses:
        '200': { description: OK }
  /api/send_to_client:
    post:
      summary: 向单个客户端投递消息
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: OK }
  /api/send_to_clients:
    post:
      summary: 批量向客户端投递消息
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: OK }
  /api/send_to_group:
    post:
      summary: 向群组投递消息
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: OK }
  /api/bind_to_group:
    post:
      summary: 将连接绑定到群组
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: OK }
  /api/get_online_list:
    post:
      summary: 查询群组在线连接
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: 在线列表 }
  /api/close_client:
    post:
      summary: 关闭指定客户端连接
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: OK }
  /api/chat/deliver:
    post:
      summary: 接收 api-chat 的可靠投递事件
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: 投递结果 }
  /api/admin/connection/list:
    post:
      summary: 查询全局在线连接
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: 连接列表 }
  /api/admin/connection/local-list:
    post:
      summary: 查询当前节点在线连接
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: 当前节点连接列表 }
  /api/admin/connection/kick:
    post:
      summary: 管理端踢出在线连接
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: OK }
  /api/live/send_message:
    post:
      summary: 直播场景实时消息投递
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: OK }
  /api/live/linkmic_list:
    post:
      summary: 查询直播连麦列表
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: 连麦列表 }
  /api/live/mute_list:
    post:
      summary: 查询直播禁言列表
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: 禁言列表 }
  /api/live/gift_list:
    post:
      summary: 查询直播礼物列表
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: 礼物列表 }
  /api/live/gift_count:
    post:
      summary: 查询直播礼物统计
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: 礼物统计 }
  /api/live/room_info:
    post:
      summary: 查询直播房间实时信息
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: 房间信息 }
  /api/live/session_counts_reset:
    post:
      summary: 重置直播会话计数
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: OK }
  /api/live/disconnect_user:
    post:
      summary: 断开直播用户连接
      security: [{ AccessToken: [] }]
      responses:
        '200': { description: OK }
components:
  securitySchemes:
    AccessToken:
      type: apiKey
      in: header
      name: AccessToken
